html {zoom: 75%;}
/*import Css Variables*/
@import url(./partials/_variables.css);
/*import fonts from fonts.css file*/
@import url(./fonts.css);
/*import global style*/
@import url(./partials/_global.css);
/*Start Navigation*/
.header_area .main-menu .navbar .navbar-brand{
  padding: 0 2rem 0 1rem;
}

.header_area .main-menu .navbar{
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
font: normal 500 15px/2px var(--roboto); /* font size 12 line height 2*/
font-weight: 500; /* thickness or bold of font*/
text-transform: uppercase;

padding: 1.7rem;
color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  /*-webkit-text-fill-color:transparent;*/
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  /*-webkit-text-fill-color:transparent;*/
  background-clip: text;
}
/*End Navigation*/

/*Banner Area*/
/*.site-main .site-banner{
  background: url(../img/banner/home-banner.png) no-repeat 90% 10%;
  }*/
.site-main .site-banner .site-title h3{
  padding-top:35%;
  font-weight:500;
  
}
.site-main .site-banner .site-title h3::after{
  content:"";
  height:2px;
  width:18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
 .site-main .site-banner .site-title h1{
font-size: 5rem;
 }
 .site-main .site-banner .site-title h4{
font-size: 1.5rem; 
}
.site-main .site-banner .banner-image>img{
  padding: 7rem 0;
  width: 90rem;
}




/* End Banner Area*/ 




/*
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: auto;
    overflow: auto;
    position: fixed;
      text-align:center;
    background-color: #f1f1f1;
  }
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .boxed {
    border: 1px solid green ;
  }
  .container { 
    margin-top: 25%;
    height: 400px;
    position: relative;
    border: 3px solid green; 
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  */