
/*import Css Variables*/
@import url(./partials/_variables.css);
/*import fonts from fonts.css file*/
@import url(./fonts.css);
/*import global style*/
@import url(/css/partials/_global.css);
/*Start Navigation*/
.header_area .main-menu .navbar .navbar-brand{
  padding: 0 2rem 0 1rem;
}

.header_area .main-menu .navbar{
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
font: normal 500 15px/2px var(--roboto); /* font size 12 line height 2*/
font-weight: 500; /* thickness or bold of font*/
text-transform: uppercase;

padding: 1.7rem;
color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  /*-webkit-text-fill-color:transparent;*/
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  /*-webkit-text-fill-color:transparent;*/
  background-clip: text;
}
/*End Navigation*/

/*Banner Area*/
/*.site-main .site-banner{
  background: url(../img/banner/home-banner.png) no-repeat 90% 10%;
  }*/
.site-main .site-banner .site-title h3{
  padding-top:35%;
  font-weight:500;
  
}
.site-main .site-banner .site-title h3::after{
  content:"";
  height:2px;
  width:18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
 .site-main .site-banner .site-title h1{
font-size: 5rem;
 }
 .site-main .site-banner .site-title h4{
font-size: 1.5rem; 
}
.site-main .site-banner .banner-image>img{
  padding: 7rem 0;
  width: 90rem;
}


/* End Banner Area*/ 
/* About Area*/
.site-main .about-area{
  padding:8rem 5rem;
}
.site-main .about-area .about-title h2>span{
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 21px;
} 
.site-main .about-area .about-title .paragraph>p {
padding: .4rem 0;
}
/*End About Area*/

/*Experience Area*/
.site-main .brand-area .experience-area{
  padding-left:1rem;
}
.site-main .brand-area .experience-area span{
  display:block;
}
.site-main .brand-area .experience-area span::first-letter{
  
  color: #8A2BE2;
}
.site-main .brand-area .experience-area .years-area{
  background: url(../img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;  
  position: relative;
  z-index:-1;
  margin-left: 125px;
}
.site-main .brand-area .experience-area .bg-panel{
  position: absolute;
  background: #e029290a;
  left:-190px;top:0%;
  width: 400px;
  height: 550px;
  margin-left: 340px;
}
.site-main .brand-area .experience-area .years-area .years{
  font: normal bold 30px/40px var(--roboto);
  color: var(--primary-color2);
  padding: 2rem 0;
  width: 30px;
  z-index:2; 
}
.site-main .brand-area .experience-area .years-area h2> span{
  font: normal 600 30px/30px var(--roboto);
  padding: 0 4rem;
}
.site-main .brand-area .experience-area .call-area{
  padding-left: 10rem;
  width:600px;
}
/*brand area*/
.site-main .brand-area{
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-3{
  display:flex;
  justify-content: center;
}
.site-main .brand-area .first-row .col-lg-3>.single-brand{
border:1px solid var(--border-color);
text-align: center;
padding: 1.8rem 0rem;
margin: .9rem 0;
width: 180px;
height: 100px;
cursor: pointer;
transition: transform .4s ease;
}
.site-main .brand-area .first-row .col-lg-3>i{
  width: 50%;
}
.site-main .brand-area .first-row .col-lg-3:hover{
box-shadow: --var(box-shadow);
transform:scale(1.1);
}
/*brand area*/




.circle-icon {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}
/*End Experience Area*/
/*Start Project Area*/
.site-main .project-area{
  padding: 4rem 0; 
}
.site-main .project-area .button-group button{
  background:transparent;
  border:none;
  font:normal 500 16px/130px var(--roboto);
  text-transform: uppercase;

}

.site-main .project-area .button-group button + button{
padding-left: 3rem;
}
.site-main .project-area .grid .our-project > .title h4{
  font: normal 700 25px/12px var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn:active{
  outline: 0px !important;
  box-shadow: none !important;
}
/*End Project Area*/



/*
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: auto;
    overflow: auto;
    position: fixed;
      text-align:center;
    background-color: #f1f1f1;
  }
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .boxed {
    border: 1px solid green ;
  }
  .container { 
    margin-top: 25%;
    height: 400px;
    position: relative;
    border: 3px solid green; 
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  */